.selected-products{
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin: 0 10px;
    height: 400px;
    position: sticky;
    top: 0%;
}
/* .choose-btn1{
    background-color: beige;
    border: 1px solid wheat;
    border-radius: 5px;  
} */
/* .choose-btn2{
    background-color: skyblue;
    border: 1px solid wheat;
    border-radius: 5px;  
    color:white;
} */
